# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [2]:
str=input("Enter string :")
print("Reversed string :",str[::-1])

Enter string :pwskills
Reversed string : sllikswp

2. Check if a string is a palindrome.

In [41]:
string=input("Enter string :")
rev=string[::-1]
if(string==rev):
    print("string is palindrome")
else:
    print("string is not palindrome")

Enter string :non
string is palindrome

3. Convert a string to uppercase.

In [43]:
string= input("Enter string :")
string.upper()

Enter string :bHavya

'BHAVYA'

4. Convert a string to lowercase.

In [44]:
string= input("Enter string :")
string.lower()

Enter string :NaME

'name'

5. Count the number of vowels in a string.

In [4]:
input_string = "Hello, my name is bhavya "
vowel_count = 0
vowels = "aeiou"

for i in input_string:
    if i in vowels:
        vowel_count +=1
print("Total vowels in the sentence are ", vowel_count)

Total vowels in the sentence are  7

6. Count the number of consonants in a string.

In [13]:
input_string = "Hello, my name is bhavya "
cons_count = 0
vowels = "aeiou"

for i in input_string:
    if i not in vowels and i.isalpha():
        cons_count +=1
print("Total consonants in the sentence are ", cons_count)

Total consonants in the sentence are  12

7. Remove all whitespaces from a string.

In [7]:
input_string = "Hello, my name is bhavya "
print("Input string after removing spaces ", input_string.replace(" ",""))

Input string after removing spaces  Hello,mynameisbhavya

8. Find the length of a string without using the `len()` function.

In [278]:
string1 = "intelligent"

print(sum([1 for i in string1]))
# OR
count = 0
for i in string1:
    count+=1
print(count)

11
11

9. Check if a string contains a specific word.

In [15]:
input_string = "Hello, my name is bhavya "
# check if string contains bhavya
word = "bhavya"
if word in input_string:
    print("String contains ", word)
else:
    print("String doesn't contains ", word)

String contains  bhavya

10. Replace a word in a string with another word.

In [16]:
input_string = "Hello, my name is bhavya "
# replace bhavya with basavaraj
word1 = "bhavya"
word2 = "basavaraj"

output = input_string.replace(word1, word2)
print("Output String: ", output)

Output String:  Hello, my name is basavaraj

11. Count the occurrences of a word in a string.

In [22]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"
# Count occurances of word bhavya
word = "bhavya"

count = input_string.count("bhavya")

print("The word ", word, " occurs ", count, " times in input string")

The word  bhavya  occurs  2  times in input string

12. Find the first occurrence of a word in a string.

In [23]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"
# find the first occurance of the word bhavya
word = "bhavya"

index = input_string.find("bhavya")

print("The word ", word, " occurs at ", index, " index")

The word  bhavya  occurs at  18  index

13. Find the last occurrence of a word in a string.

In [27]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"
# find the last occurance of the word bhavya
word = "bhavya"

index = input_string.rfind("bhavya")

print("The word ", word, " occurs at last in the string at ", index, " index")

The word  bhavya  occurs at last in the string at  26  index

14. Split a string into a list of words.

In [29]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

input_string.split()

['Hello,',
 'my',
 'name',
 'is',
 'bhavya.',
 'bhavya',
 'is',
 'currently',
 'learning',
 'data',
 'science']

15. Join a list of words into a string.

In [31]:
words = ['Hello,','my', 'name', 'is', 'bhavya.', 'bhavya', 'is', 'currently', 'learning', 'data', 'science']

" ".join(words)

'Hello, my name is bhavya. bhavya is currently learning data science'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [32]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

input_string.replace(" ", "__")

'Hello,__my__name__is__bhavya.__bhavya__is__currently__learning__data__science'

17. Check if a string starts with a specific word or phrase.

In [36]:
input_string = "Hello, my name is bhavya"
#check is string starts with word bhavya

if input_string.startswith("bhavya"):
    print("Yes, it starts with given word")
else:
    print("No, it doesn't start with given word")

No, it doesn't start with given word

18. Check if a string ends with a specific word or phrase.

In [37]:
input_string = "Hello, my name is bhavya"
#check is string starts with word bhavya

if input_string.endswith("bhavya"):
    print("Yes, it ends with given word")
else:
    print("No, it doesn't end with given word")

Yes, it ends with given word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [38]:
input_string = "Hello, my name is Bhavya"

input_string.lower()

'hello, my name is bhavya'

20. Find the longest word in a string.

In [52]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

max_len = 0
max_word = None
for word in input_string.split():
    if len(word) > max_len:
        max_len = len(word)
        max_word = word
print("The longest word in a string is: ", max_word)

The longest word in a string is  currently

21. Find the shortest word in a string.

In [55]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

max_len = len(input_string.split()[0])
max_word = input_string.split()[0]
for word in input_string.split():
    if len(word) < max_len:
        max_len = len(word)
        max_word = word
print("The longest word in a string is: ", max_word)

The longest word in a string is:  my

22. Reverse the order of words in a string.

In [59]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

" ".join(input_string.split()[::-1])

'science data learning currently is bhavya bhavya. is name my Hello,'

23. Check if a string is alphanumeric.

In [67]:
input_string = "hello"

if input_string.isalnum():
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")
    
input_string = "hello ..!!"
if input_string.isalnum():
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

String is alphanumeric
String is not alphanumeric

24. Extract all digits from a string.

In [70]:
input_string = "Hello, my name is bhavya, my height is 156cm and roll nyumber is 123456"

print("Digits from given string")
[i for i in input_string if i.isdigit()]

Digits from given string

['1', '5', '6', '1', '2', '3', '4', '5', '6']

25. Extract all alphabets from a string.

In [71]:
input_string = "2bu10cs01029334"

print("Alphabets from given string")
[i for i in input_string if i.isalpha()]

Alphabets from given string

['b', 'u', 'c', 's']

26. Count the number of uppercase letters in a string.

In [80]:
input_string = "Hello, my name is Bhavya"

count = 0
for i in input_string:
    if i.isalpha():
        if i.isupper():
            count +=1
print("Number of uppercase letters in string ", count)

Number of uppercase letters in string  2

27. Count the number of lowercase letters in a string.

In [81]:
input_string = "Hello, my name is Bhavya"

count = 0
for i in input_string:
    if i.isalpha():
        if i.islower():
            count +=1
print("Number of uppercase letters in string ", count)

Number of uppercase letters in string  17

28. Swap the case of each character in a string.

In [89]:
input_string = "Hello, my name is Bhavya"

input_string.swapcase()

'hELLO, MY NAME IS bHAVYA'

29. Remove a specific word from a string.

In [104]:
input_string = "Hello, my name is Bhavya"

input_string.replace("Bhavya","")

'Hello, my name is '

30. Check if a string is a valid email address.

In [119]:
email = "bhavya420@gmail.com"

#check is @ symbol is and a dot is present

if email.find("@") > -1:
    if email.find(".") > -1:
        if email[0].isalpha():
            if email.rfind(".") > email.find("@"):
                print("valid email address")
else:
    print("invalid email address")

valid email address

31. Extract the username from an email address string.

In [120]:
email = "bhavya420@gmail.com"

email.split("@")[0]

'bhavya420'

32. Extract the domain name from an email address string.

In [121]:
email = "bhavya420@gmail.com"

email.split("@")[1]

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [124]:
input_string = "Hello,      my  name     is       Bhavya"

" ".join(input_string.split())

'Hello, my name is Bhavya'

34. Check if a string is a valid URL.

In [135]:
url1 = "https://www.yuddhakanda.com/"
url2 = "yuddhakanda.com"

from urllib.parse import urlparse

def valid_url(url):
    results = urlparse(url)
    if results.scheme and results.netloc:
        print("valid url")
    else:
        print("invalid url")

valid_url(url1)
valid_url(url2)

valid url
invalid url

35. Extract the protocol (http or https) from a URL string.

In [142]:
url = "https://www.yuddhakanda.com/"
from urllib.parse import urlparse

results = urlparse(url)
print(results.scheme)

https

36. Find the frequency of each character in a string.

In [160]:
input_string = "Hello, my name is bhavya. bhavya is currently learning data science"

freq = dict(zip(set(input_string), len(set(input_string)) * [0]))

for c in input_string:
        freq[c] = freq[c] + 1

print(freq)

{' ': 10, 'r': 3, ',': 1, 'm': 2, 't': 2, 'b': 2, 'v': 2, 'u': 1, 'l': 4, 'h': 2, 'g': 1, 's': 3, 'n': 5, 'o': 1, 'i': 4, 'd': 1, 'e': 6, 'y': 4, 'c': 3, 'a': 8, 'H': 1, '.': 1}

37. Remove all punctuation from a string.

In [164]:
input_string = "Hello, my name is bhavya.!! bhavya is currently learning data-science??"

import string

trans = str.maketrans("","", string.punctuation)
input_string.translate(trans)

'Hello my name is bhavya bhavya is currently learning datascience'

38. Check if a string contains only digits.

In [169]:
input_string = "djhasldh12131"
print(input_string.isdigit())

input_string = "12131"
print(input_string.isdigit())

False
True

39. Check if a string contains only alphabets.

In [170]:
input_string = "djhasldh12131"
print(input_string.isalpha())

input_string = "hello"
print(input_string.isalpha())

False
True

40. Convert a string to a list of characters.

In [173]:
input_string = "Hello, my name is bhavya."

print(list(input_string))

['H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'b', 'h', 'a', 'v', 'y', 'a', '.']

41. Check if two strings are anagrams.

In [178]:
input_string1 = "post"
input_string2 = "stop"

if sorted(input_string1) == sorted(input_string2):
    print("Strings are anagrams")

Strings are anagrams

42. Encode a string using a Caesar cipher.

In [207]:
input_string = "Hello World!"

shift = 4
encoded = ""

for c in input_string:
    if c.isalpha():
        if c.isupper():
            if ord(c) + shift > 90:
                encoded += chr(64+(ord(c) + shift) - 90)
            else:
                encoded += chr((ord(c) + shift))

        else:
            if ord(c) + shift > 122:
                encoded += chr(96+(ord(c) + shift) - 122)
            else:
                encoded += chr((ord(c) + shift))
    else:
        encoded += c

print(encoded)

Lipps Asvph!

43. Decode a Caesar cipher encoded string.

In [214]:
input_string = "Lipps Asvph!"

shift = 22
encoded = ""

for c in input_string:
    if c.isalpha():
        if c.isupper():
            if ord(c) + shift > 90:
                encoded += chr(64+(ord(c) + shift) - 90)
            else:
                encoded += chr((ord(c) + shift))

        else:
            if ord(c) + shift > 122:
                encoded += chr(96+(ord(c) + shift) - 122)
            else:
                encoded += chr((ord(c) + shift))
    else:
        encoded += c

print(encoded)

Hello World!

44. Find the most frequent word in a string.

In [222]:
input_string = "Hello, my name is bhavya . bhavya is currently learning data science"

from collections import Counter

Counter(input_string.split())

Counter({'Hello,': 1,
         'my': 1,
         'name': 1,
         'is': 2,
         'bhavya': 2,
         '.': 1,
         'currently': 1,
         'learning': 1,
         'data': 1,
         'science': 1})

45. Find all unique words in a string.

In [225]:
input_string = "Hello my name is bhavya . bhavya is currently learning data science"

print(set(input_string.lower().split()))

{'name', 'bhavya', 'currently', '.', 'hello', 'data', 'my', 'science', 'is', 'learning'}

46. Count the number of syllables in a string.

In [249]:
import re

print(len(re.findall("[aeiouy]+", "hello world")))
print(len(re.findall("[aeiouy]+", "welcome to data science")))

3
8

47. Check if a string contains any special characters.

In [239]:
input_string = "hello world..!"
print(input_string.isalnum())

input_string = "hello"
print(input_string.isalnum())

False
True

48. Remove the nth word from a string.

In [235]:
input_string = "Hello my name is bhavya . bhavya is currently learning data science"
words = input_string.split()
n_word = 6

" ".join([words[i] for i in range(len(words)) if i != n_word])

'Hello my name is bhavya . is currently learning data science'

49. Insert a word at the nth position in a string.

In [242]:
input_string = "Hello my name is bhavya . bhavya is currently learning data science"
words = input_string.split()
n_word = 6
word = "great"

new_string = []
for i in range(len(words)):
    if i == n_word:
        new_string.append(word)
    new_string.append(words[i])
" ".join(new_string)

'Hello my name is bhavya . great bhavya is currently learning data science'

50. Convert a CSV string to a list of lists.

In [254]:
input_string = "StudentID,Name,Address\n100,Sam,Bangalore\n200,Ramesh,Delhi\n300,Arun,Chennai"

data = input_string.split("\n")

for row in data:
    print(row.split(","))

['StudentID', 'Name', 'Address']
['100', 'Sam', 'Bangalore']
['200', 'Ramesh', 'Delhi']
['300', 'Arun', 'Chennai']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [255]:
integer_list = [i for i in range(1, 11)]

print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [279]:
string1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(sum([1 for i in string1]))

10

3. Append an element to the end of a list.

In [256]:
my_list = [1, 2, 3]
new_element = 4

my_list.append(new_element)

print("Updated list:", my_list)

Updated list: [1, 2, 3, 4]

4. Insert an element at a specific index in a list.

In [258]:
my_list = [100, 200, 300, 400, 500]

# Element to insert
insert_element = 25

# Index at which to insert the element
index_to_insert = 2

my_list.insert(index_to_insert, insert_element)
print("Updated list:", my_list)

Updated list: [100, 200, 25, 300, 400, 500]

5. Remove an element from a list by its value.

In [259]:
my_list = [1, 2, 3, 4, 5]

# Element to remove
element_to_remove = 2

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 3, 4, 5]

6. Remove an element from a list by its index.

In [260]:
my_list = [1, 2, 3, 4, 5, 6]

# Index of the element to remove
index_to_remove = 3

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 3, 5, 6]
Removed element: 4

7. Check if an element exists in a list.

In [266]:
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 40

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

40 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [267]:
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 20

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 20 is 1

9. Count the occurrences of an element in a list.

In [268]:
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element_to_count = 50

# Count the occurrences of the element
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 50 occurs 1 times in the list.

10. Reverse the order of elements in a list.

In [269]:
my_list = [1, 2, 5, 4, 9]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [9, 4, 5, 2, 1]

11. Sort a list in ascending order.

In [270]:
my_list = [500, 1000, 300, 400, 2000]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [300, 400, 500, 1000, 2000]

12. Sort a list in descending order.

In [273]:
my_list = [500, 1000, 300, 450, 220]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [1000, 500, 450, 300, 220]

13. Create a list of even numbers from 1 to 20.

In [285]:
print("even numbers from 1 to 20 are")
list(range(2, 21, 2))

even numbers from 1 to 20 are

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [288]:
print("odd numbers from 1 to 20 are")
list(range(1, 20, 2))

odd numbers from 1 to 20 are

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [289]:
my_list = [500, 1000, 300, 400, 2000]
sum(my_list)

4200

16. Find the maximum value in a list.

In [290]:
my_list = [500, 1000, 300, 400, 2000]
max(my_list)

2000

17. Find the minimum value in a list.

In [291]:
my_list = [500, 1000, 300, 400, 2000]
min(my_list)

300

18. Create a list of squares of numbers from 1 to 10.

In [296]:
nums = list(range(1, 11))

[i**2 for i in nums]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [307]:
import random
# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 10) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

# OR

rand_list = []
for i in range(10):
    rand_list.append(random.randint(1, 10))
print("List of random integers:",rand_list)

List of random integers: [2, 9, 10, 7, 8, 10, 7, 8, 3, 5]
List of random integers: [6, 9, 6, 10, 7, 7, 4, 4, 10, 7]

20. Remove duplicates from a list.

In [310]:
my_list = [ 1,2,3,5,2,6,4,3,1,3]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [315]:
my_list1 = [ 1,2,3,4]
my_list2 = [ 21,22,33,4,55,3]
[i for i in my_list1 if i in my_list2]

[3, 4]

22. Find the difference between two lists.

In [316]:
my_list1 = [ 1,2,3,4]
my_list2 = [ 2,3,4,6,5]
difference = list(set(my_list1).difference(my_list2))
print("Difference between lists:", difference)

Difference between lists: [1]

23. Merge two lists.

In [320]:
my_list1 = [ 1,2,3,4]
my_list2 = [7,6,5]
merged_list = my_list1 + my_list2
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 7, 6, 5]

24. Multiply all elements in a list by 2.

In [321]:
my_list = [ 1,2,3,4]
for i in my_list:
    print(i*2)

2
4
6
8

25. Filter out all even numbers from a list.

In [322]:
my_list = [ 1,2,3,4,6,7,8,13,9]
for i  in my_list:
    if i % 2 != 0:
        print(i,end =" ")

1 3 7 13 9

26. Convert a list of strings to a list of integers.

In [326]:
list1= ["1234","123","34","432"]
list2 = []
for i in list1:
    integer = int(i)
    list2.append(integer)
print("strings into integers:", list2)

strings into integers: [1234, 123, 34, 432]

27. Convert a list of integers to a list of strings.

In [328]:
list1= [1234,123,34,432]
list2 = []
for i in list1:
    string = str(i)
    list2.append(string)
print("integers into strings:", list2)

integers into strings: ['1234', '123', '34', '432']

28. Flatten a nested list.

In [331]:
nested_list = [[1,2,3],[23],[2,5],[100,19]]

extracted_list = []
for i in nested_list:
    extracted_list.extend(i)
print(extracted_list)

[1, 2, 3, 23, 2, 5, 100, 19]

29. Create a list of the first 10 Fibonacci numbers.

In [335]:
fibo = [0,1]
n = 10

for i in range(n):
    fibo.append(fibo[i] + fibo[i+1])

print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted.

In [340]:
my_list =[1000,223,34,44,590]
print(sorted(my_list))
sorted(my_list)== my_list

[34, 44, 223, 590, 1000]

False

31. Rotate a list to the left by `n` positions.

In [348]:
list1 = [1, 2, 3,4,5,6,7,8,9]
n = 3

print(list1[n:] + list1[:n])

[4, 5, 6, 7, 8, 9, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [350]:
list1 = [1, 2, 3,4,5,6,7,8,9]
n = 3

print(list1[-n:] + list1[:-n])

[7, 8, 9, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50.

In [362]:
#Function to check if a number is prime

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      #print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
            return False
      i += 6
    return True
# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [365]:
list1 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n = 3
chunks = int(len(list1)/3)
idx = 0

for i in range(3):
    print(list1[idx:n])
    idx = n
    n+=3

[2, 3, 5]
[7, 11, 13]
[17, 19, 23]

35. Find the second largest number in a list.

In [368]:
my_list = [1, 5, 2, 15, 3, 21]
sorted_list = sorted(set(my_list))

sorted_list[-2]

15

36. Replace every element in a list with its square.

In [369]:
my_list = [1, 2, 3, 4, 5]

squared_list = [i ** 2 for i in my_list]
print("Squared list:", squared_list)

Squared list: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [377]:
my_list = ['my','name','is','bhavya']
idx_list = list(range(4))
                
dict(zip(my_list, idx_list))

{'my': 0, 'name': 1, 'is': 2, 'bhavya': 3}

38. Shuffle the elements of a list randomly.

In [383]:

import random 
my_list = ['my','name','is','bhavya']

random.shuffle(my_list)
print(my_list)

['name', 'bhavya', 'my', 'is']

39. Create a list of the first 10 factorial numbers.

In [389]:
for i in range(1, 11):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    print("Factorial of ", i ," is ", fact)

Factorial of  1  is  1
Factorial of  2  is  2
Factorial of  3  is  6
Factorial of  4  is  24
Factorial of  5  is  120
Factorial of  6  is  720
Factorial of  7  is  5040
Factorial of  8  is  40320
Factorial of  9  is  362880
Factorial of  10  is  3628800

40. Check if two lists have at least one element in common.

In [391]:
list1 = ['my','name','is','bhavya']
list2 = ['bhavya','is','learning','data', 'science']

flag = False
for e in list1:
    if e in list2:
        flag= True
        break
if flag:
    print("yes there is an element in common")

yes there is an element in common

41. Remove all elements from a list.

In [403]:
list1 = ['bhavya','is','learning','data', 'science']

list1.clear()
    
print("Elements of list1: ", list1)

Elements of list1:  []

42. Replace negative numbers in a list with 0.

In [406]:
list1 = [1, 4, 9, 16, 25, -9, 10, -8]

list2 = []
for i in list1:
    if i < 0:
        list2.append(0)
    else:
        list2.append(i)

print(list2)

[1, 4, 9, 16, 25, 0, 10, 0]

43. Convert a string into a list of words.

In [409]:
input_str = "yes there is an element in common"

input_str.split()

['yes', 'there', 'is', 'an', 'element', 'in', 'common']

44. Convert a list of words into a string.

In [410]:
input_list = ['yes', 'there', 'is', 'an', 'element', 'in', 'common']
" ".join(input_list)

'yes there is an element in common'

45. Create a list of the first `n` powers of 2.

In [415]:
n = 10

for i in range(n+1):
    print(i, " power of 2 is ", 2**i)

0  power of 2 is  1
1  power of 2 is  2
2  power of 2 is  4
3  power of 2 is  8
4  power of 2 is  16
5  power of 2 is  32
6  power of 2 is  64
7  power of 2 is  128
8  power of 2 is  256
9  power of 2 is  512
10  power of 2 is  1024

46. Find the longest string in a list of strings.

In [417]:
string_list = ["my", "name", "is", "Bhavya"]

longest_string = ""
for i in string_list:
    if len(i) > len(longest_string):
        longest_string = i

print("Longest string is :", longest_string)

Longest string is : Bhavya

47. Find the shortest string in a list of strings.

In [418]:
string_list = ["my", "name", "is", "Bhavya"]

shortest_string = ""
for i in string_list:
    if len(i) < len(longest_string):
        shortest_string = i

print("shortest string is :", shortest_string)

shortest string is : is

48. Create a list of the first `n` triangular numbers.

In [457]:
n = 10

for k in range(1, n+1):
    count = 0
    for i in range(1, k):
        for j in range(1, i):
            count +=1
    if count > 0:
        print(count)

1
3
6
10
15
21
28
36

49. Check if a list contains another list as a subsequence.

In [462]:
list1 = [1, 2, 3]
list2 = [1,2,3,4,5,6,7,8,9]
list3 = [4,5,6,7,8,9,0]

diff1 = set(list1).difference(set(list2)) 

if len(diff1) == 0:
    print("list2 contains list1 as a subsequence")
else:
    print("list2 doesn't contains list1 as a subsequence")
    
    
diff2 = set(list1).difference(set(list3))
if len(diff2) == 0:
    print("list3 contains list1 as a subsequence")
else:
    print("list3 doesn't contains list1 as a subsequence")

list2 contains list1 as a subsequence
list3 doesn't contains list1 as a subsequence

50. Swap two elements in a list by their indices.

In [464]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
tmp = my_list[2]
my_list[2] = my_list[3]
my_list[3] = tmp

print(my_list)

[1, 2, 4, 3, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [425]:
my_tuple = [i for i in range (1,6,1)]
my_tuple = tuple(my_list)
print("Tuple with integers:", my_tuple)

Tuple with integers: (1, 4, 3, 2, 5)

2. Access the third element of a tuple.

In [426]:
my_tuple = (1, 2, 3, 4, 5)

#  Access the third element (index 2) of the tuple
third_element = my_tuple[2]

#  Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

3. Find the length of a tuple without using the `len()` function.

In [427]:
my_tuple = (10, 20, 30, 40, 50)
count = 0
for i in my_tuple:
    count += 1
print("The length of the tuple is:", count)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [429]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Choose the element to count occurrences of
element_to_count = 20

count = 0

for i in my_tuple:
    if i == element_to_count:
        count += 1

#  Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [471]:
tuple1 = (1,2,9,4,5,6,7,1,2,3,4,5,1,3)

to_find = 9

for i in range(len(tuple1)):
    if tuple1[i] == to_find:
        print("item found at index: ", i)
        break

item found at index:  2

6. Check if an element exists in a tuple.

In [438]:
my_tuple = (1, 2, 3, 4, 5)

# Choose the element to check for existence
element_to_check = 3

if element_to_check in my_tuple:
    print(element_to_check,"exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

7. Convert a tuple to a list.

In [439]:
my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [442]:
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [443]:
my_tuple = (1, 2, 3, 4, 5)
var1, var2, var3, var4, var5 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5

10. Create a tuple of even numbers from 1 to 10.

In [475]:
tuple(i+2 for i in range(0, 10, 2))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [478]:
tuple(i+2 for i in range(-1, 9, 2))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [444]:
tuple1 = (2, 4, 6)
tuple2 = (1, 3, 5)

#Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (2, 4, 6, 1, 3, 5)

13. Repeat a tuple three times.

In [446]:
my_tuple = (2, 4, 6)
repeated_tuple = my_tuple*3
print(repeated_tuple)

(2, 4, 6, 2, 4, 6, 2, 4, 6)

14. Check if a tuple is empty.

In [482]:
def isEmpty(tup):
    if tup == ():
        print("Tuple is empty")
    else:
        print("Tuple is NOT empty")
        
my_tuple = (2, 4, 6)
isEmpty(my_tuple)

tuple1 = ()
isEmpty(tuple1)

Tuple is NOT empty
Tuple is empty

15. Create a nested tuple.

In [486]:
nested_tuple = tuple(((1,2,3), (2,3,4), (4,5,6)))
print(nested_tuple)

((1, 2, 3), (2, 3, 4), (4, 5, 6))

16. Access the first element of a nested tuple.

In [487]:
nested_tuple[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [496]:
single_tup = tuple((1,))
print(single_tup)

(1,)

18. Compare two tuples.

In [497]:
tuple1 = (4, 3, 9)
tuple2 = (4, 2, 0)

print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)  
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)  
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

19. Delete a tuple.

In [498]:
tuple1 = (4, 3, 9)

del tuple1

20. Slice a tuple.

In [499]:
tuple1 = (4, 3, 9)
tuple1[2:]

(9,)

21. Find the maximum value in a tuple.

In [503]:
tuple1 = (4, 3, 9)

print("Maximum vaue in ", tuple1, " is ", max(tuple1))

Maximum vaue in  (4, 3, 9)  is  9

22. Find the minimum value in a tuple.

In [504]:
tuple1 = (4, 3, 9)

print("Minimum vaue in ", tuple1, " is ", min(tuple1))

Minimum vaue in  (4, 3, 9)  is  3

23. Convert a string to a tuple of characters.

In [506]:
tuple1 = tuple("My name is Robot")

print(tuple1)

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'R', 'o', 'b', 'o', 't')

24. Convert a tuple of characters to a string.

In [508]:
tuple1 = ('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'R', 'o', 'b', 'o', 't')

print("".join(tuple1))

My name is Robot

25. Create a tuple from multiple data types.

In [509]:
mixed_tuple = ("welcome", "robo", 3.14, False, 123)

print(mixed_tuple)

('welcome', 'robo', 3.14, False, 123)

26. Check if two tuples are identical.

In [510]:
tuple1 = (1,2,3)
tuple2 = (3,4,5)
tuple3 = (1,2,3)

print(tuple1 == tuple2)
print(tuple1 == tuple3)

False
True

27. Sort the elements of a tuple.

In [511]:
tuple1 = (8,3,6,4,0,1,3,4,1,2,3)
sorted(tuple1)

[0, 1, 1, 2, 3, 3, 3, 4, 4, 6, 8]

28. Convert a tuple of integers to a tuple of strings.

In [513]:
tuple1 = (8,3,6,4,0,1,3,4,1,2,3)

tuple2 = tuple(str(item) for item in tuple1)

print(tuple2)

('8', '3', '6', '4', '0', '1', '3', '4', '1', '2', '3')

29. Convert a tuple of strings to a tuple of integers.

In [514]:
tuple1 = ('8', '3', '6', '4', '0', '1', '3', '4', '1', '2', '3')

tuple2 = tuple(int(item) for item in tuple1)

print(tuple2)

(8, 3, 6, 4, 0, 1, 3, 4, 1, 2, 3)

30. Merge two tuples.

In [516]:
tuple1 = (8,3,6,4,0,1,3,4,1,2,3)

tuple2 = (3,4,6,7)

print(tuple1 + tuple2)

(8, 3, 6, 4, 0, 1, 3, 4, 1, 2, 3, 3, 4, 6, 7)

31. Flatten a nested tuple.

In [530]:
tuple1 = ((5,1, 2,6), (5,6,8,3, 4, 5), (9,6,7, 8))

tuple2 = []
for t in tuple1:
    tuple2.extend(t)

print(tuple(tuple2))

(5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [520]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [524]:
tuple1 = (1,2,3,2,1)
tuple2 = (14,5,6,7,8)

print(tuple1 == tuple1[::-1])
print(tuple2 == tuple2[::-1])

True
False

34. Create a tuple of squares of numbers from 1 to 5.

In [528]:
tuple(i**2 for i in range(1,6))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [531]:
tuple1 = (5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)

tuple(i for i in tuple1 if i % 2 == 0)

(2, 6, 6, 8, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [534]:
tuple1 = (5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)

tuple(i*2 for i in tuple1)

(10, 2, 4, 12, 10, 12, 16, 6, 8, 10, 18, 12, 14, 16)

37. Create a tuple of random numbers.

In [539]:
import random

tuple(random.randint(1,100) for i in range(10))

(65, 1, 84, 30, 4, 72, 34, 46, 2, 17)

38. Check if a tuple is sorted.

In [544]:
tuple1 = (65, 1, 84, 30, 4, 72, 34, 46, 2, 17)
tuple2 = (1, 2, 4, 17, 30, 34, 46, 65, 72, 84)

print(tuple1 == tuple(sorted(tuple1)))
print(tuple2 == tuple(sorted(tuple2)))

False
True

39. Rotate a tuple to the left by `n` positions.

In [547]:
tuple1 = (1, 2, 3, 4, 5)
shift = 2

n = shift % len(tuple1)
rotated_tuple = tuple1[n:] + tuple1[:n]

print(rotated_tuple)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [549]:
tuple1 = (1, 2, 3, 4, 5)
shift = 2

n = shift % len(tuple1)
rotated_tuple = tuple1[-n:] + tuple1[:-n]

print(rotated_tuple)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [551]:
n= 5
fibonacci = [0, 1]
while len(fibonacci) < n:
    next_number = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_number)

print(tuple(fibonacci))

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [552]:
input_str = input("Enter elements")
input_list = input_str.split(',')
user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements1,2,3,4,7,8,9,0
User input tuple: ('1', '2', '3', '4', '7', '8', '9', '0')

43. Swap two elements in a tuple.

In [553]:
my_tuple = (1, 2, 3, 4, 5)


index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [554]:
tuple1 =  (1, 2, 3, 4, 5)

print(tuple1[::-1])

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [555]:
n = 10

pow_tuple = tuple(2 ** i for i in range(n))
print(pow_tuple)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

46. Find the longest string in a tuple of strings.

In [556]:
tuple1 = ("hello", "world", "my", "country", "bharat")

print("longest string:", max(tuple1, key=len))

Longest string: country

47. Find the shortest string in a tuple of strings.

In [557]:
tuple1 = ("hello", "world", "my", "country", "bharat")

print("shortest string:", min(tuple1, key=len))

shortest string: my

48. Create a tuple of the first `n` triangular numbers.

In [558]:
n = 10

trianglur = []
for k in range(1, n+1):
    count = 0
    for i in range(1, k):
        for j in range(1, i):
            count +=1
    if count > 0:
        trianglur.append(count)
print(tuple(trianglur))

(1, 3, 6, 10, 15, 21, 28, 36)

49. Check if a tuple contains another tuple as a subsequence.

In [561]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple2 = (3, 4, 5)

t2_len = len(tuple2)
for i in range(len(tuple1) - t2_len + 1):
    if tuple1[i:i+t2_len] == tuple2:
        print("yes, tuple2 is a subsequence of tuple1")

yes, tuple2 is a subsequence of tuple1

50. Create a tuple of alternating 1s and 0s of length `n`.

In [562]:
n = 10

tuple(i % 2 for i in range(n))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [566]:
new_set = {i for i in range(1,6)}

print(new_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [568]:
new_set.add(9)

print(new_set)

{1, 2, 3, 4, 5, 9}

3. Remove an element from a set.

In [570]:
new_set.remove(2)

print(new_set)

{1, 3, 4, 5, 9}

4. Check if an element exists in a set.

In [579]:
print("Yes" if 3 in new_set else "No")
print("Yes" if 7 in new_set else "No")

Yes
No

5. Find the length of a set without using the `len()` function.

In [581]:
print("Length of the set: ", len(new_set))

Length of the set  5

6. Clear all elements from a set.

In [4]:
new_set = {1,2,3,4,5}
new_set.clear()

print(new_set)

set()

7. Create a set of even numbers from 1 to 10.

In [6]:
even_numbers_set = set()
for i in range(1, 11):
    if i % 2 == 0:
        even_numbers_set.add(i)
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [7]:
odd_numbers_set = set()
for i in range(0, 10):
    if i % 2 != 0:
        odd_numbers_set.add(i)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [16]:
set1 = {2, 4, 6, 8, 10}
set2 = {1, 3, 5, 7, 9}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [18]:
set1 = {2, 4, 6, 8, 10}
set2 = {1, 2, 3, 4, 5, 7, 9}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 4}

11. Find the difference between two sets.

In [19]:
set1 = {2, 4, 6, 8, 10}
set2 = {1, 2, 3, 4, 5, 7, 9}
difference_set = set1.difference(set2)
print(difference_set)

{8, 10, 6}

12. Check if a set is a subset of another set.

In [24]:
set1 = {1, 2, 3, 4, 5, 7, 9}
set2 = {1,2, 3,4, 5,6,7, 8, 9,10}

is_subset = set1.issubset(set2)
print(is_subset)

True

13. Check if a set is a superset of another set.

In [28]:
set1 = {1,2, 3,4, 5,6,7, 8, 9,10}
set2 = {1, 2, 3, 4, 5, 7, 9}

is_superset = set1.issuperset(set2)
print(is_superset)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

True
set1 is a superset of set2

14. Create a set from a list.

In [29]:
my_list = [1, 2, 3, 4, 5, 6]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [1, 2, 3, 4, 5, 6]
Set from List: {1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [32]:
my_set = {1, 2, 3, 4, 5, 6}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [35]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 6}

17. Pop an element from a set.

In [39]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [41]:
set1 = {1,5, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {5}

19. Find the symmetric difference between two sets.

In [43]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 4, 5, 6, 7, 8}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {3, 6, 7, 8}

20. Update a set with elements from another set.

In [45]:
set1 = {1, 2, 3,5,7,9,8}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3, 5, 7, 8, 9}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [46]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [48]:
set1 = {1, 2, 3,5,7,9,8}
set2 = {5, 3, 4}
set3 = {3, 4, 5}

if set1 == set2:
    print("set1 & set2 are identical")
    
if set2 == set3:
    print("set2 & set3 are identical")

set2 & set3 are identical

23. Create a frozen set.

In [50]:
set1 = {1, 2, 3,5,7,9,8}

frozen = frozenset(set1)

print(frozen)

frozenset({1, 2, 3, 5, 7, 8, 9})

24. Check if a set is disjoint with another set.

In [52]:
set1 = {1, 2, 3,5,7,9,8}
set2 = {0, 4, 6}

set1.isdisjoint(set2)

True

25. Create a set of squares of numbers from 1 to 5.

In [55]:
{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [58]:
set1 = {1, 4, 9, 16, 25, 36, 49, 64, 81}

even_set = {i for i in set1 if i % 2 == 0 }

print(even_set)

{64, 16, 4, 36}

27. Multiply all elements in a set by 2.

In [68]:
set1 = {1, 4, 9, 16, 25, 36, 49, 64, 81}

mul_set = {i *2 for i in set1}

print(mul_set)

{128, 32, 2, 98, 162, 8, 72, 18, 50}

28. Create a set of random numbers.

In [70]:
import random

random_set = {random.randint(10,100) for i in range(12)}

print(random_set)

{96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

29. Check if a set is empty.

In [72]:
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}
set2 = {}

def check_empty(set1):
    if set1:
        print("Set is NOT empty")
    else:
        print("Set is empty")

check_empty(set1)
check_empty(set2)

Set is NOT empty
Set is empty

30. Create a nested set (hint: use frozenset).

In [73]:
set1 = {5, 4, 1, 9, 0}
set2 = {6, 9, 2, 3, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({2, 3, 6, 9, 10}), frozenset({0, 1, 4, 5, 9})}

31. Remove an element from a set using the discard method.

In [74]:
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

set1.discard(75)

print(set1)

{96, 67, 42, 47, 48, 81, 80, 54, 26, 63}

32. Compare two sets.

In [75]:
set1 = {5, 4, 1, 9, 0}
set2 = {6, 9, 2, 3, 10}

if set1 == set2:
    print("Sets are equal")
else:
    print("Sets are NOT equal")

Sets are NOT equal

33. Create a set from a string.

In [76]:
inp_string = "This will be converted to set"

set1 = set(inp_string)

print(set1)

{'T', 'w', 'b', 'l', 'e', 'n', 't', 'd', ' ', 'v', 'o', 'h', 'c', 's', 'i', 'r'}

34. Convert a set of strings to a set of integers.

In [77]:
str_set = {"14","6","4","8","98","34"}

int_set = {int(i) for i in str_set}

print(int_set)

{34, 98, 4, 6, 8, 14}

35. Convert a set of integers to a set of strings.

In [79]:
int_set = {34, 98, 4, 6, 8, 14}

str_set = {str(i) for i in int_set}

print(str_set)

{'98', '4', '8', '14', '34', '6'}

36. Create a set from a tuple.

In [83]:
tup_set = tuple((34, 98, 4, 6, 8, 14))

set1 = set(tup_set)

print(set1)

{34, 98, 4, 6, 8, 14}

37. Convert a set to a tuple.

In [84]:
tup_set = {34, 98, 4, 6, 8, 14}

tup = tuple(tup_set)

print(tup)

(34, 98, 4, 6, 8, 14)

38. Find the maximum value in a set.

In [85]:
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

print("Maximum val in set: ", max(set1))

Maximum val in set:  96


39. Find the minimum value in a set.

In [86]:
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

print("Minimum val in set: ", min(set1))

Minimum val in set:  26

40. Create a set from user input.

In [87]:
set_inp = input("Enter input for set")

inp_list = set_inp.split(",")

set1 = set(inp_list)

print(set1)

Enter input for set2,3,5,6,8,9,3,5
{'9', '5', '2', '8', '3', '6'}

41. Check if the intersection of two sets is empty.

In [91]:
set1 = {5, 4, 1, 9, 0}
set2 = {6, 9, 2, 3, 10}

inter_set = set1.intersection(set2)

if len(inter_set) > 0:
    print("Intersection is NOT empty")
    print(inter_set)
else:
    print("Inntersection is empty")
    print(inter_set)

Intersection is NOT empty
{9}

42. Create a set of the first 5 Fibonacci numbers.

In [92]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [94]:
dup_list = [1,1,2,3,3,4,5,5,6,6,7,7,8,8,9,9,9]

unique_list = set(dup_list)

print(unique_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

44. Check if two sets have the same elements, regardless of their count.

In [102]:
set1 = {4, 5, 6, 7, 8}
set2 = {7, 6, 8}

sorted(set1) == sorted(set2)

False

45. Create a set of the first `n` powers of 2.

In [105]:
n = 10

set1 = {2 ** i for i in range(10)}

print(sorted(set1))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the common elements between a set and a list.

In [107]:
list1 = [4, 5, 6, 7, 8,9,0]
set2 = {7, 6, 8}

common_elements = set(list1).intersection(set2)

print(common_elements)

{8, 6, 7}

47. Create a set of the first `n` triangular numbers.

In [111]:
n = 10

triangular = set()

for i in range(1,n+1):
    count = 0
    for j in range(1,i):
        for k in range(1,j):
            count +=1
    triangular.add(count)

print(sorted(triangular))

[0, 1, 3, 6, 10, 15, 21, 28, 36]

48. Check if a set contains another set as a subset.

In [112]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [116]:
n = 20
set_0_1 = {1 if i % 2 == 0 else 0 for i in range(n)}

print(set_0_1)

{0, 1}

50. Merge multiple sets into one.

In [118]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
set4 = {8, 9, 10}
set5 = {11, 12, 13}

new_set = set1.union(set2, set3, set4, set5)

print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}